#arena-body {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "shipyard map"
    "shipyard warzone"
}

#shipyard {
  grid-area: shipyard;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

#map{
  grid-area: map; 
}


#warzone {
  grid-area: warzone; 
  display: flex;
  align-items: center;
  flex-direction: column;
}


