
#map-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#grid-map {
	display: grid;
	grid-template-columns: repeat(10, 0fr);
	border: solid;
}

.grid-item {
	width: 40px;
	height: 40px;
	border: solid;
	border-width: 0.5px;
	border-color:silver;
}